PracXML/src/conf/xml-resources/jaxb/a/newXmlSchema1.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xsd:element name="person" type="personType"/>
    <xsd:complexType name="personType">
        <xsd:sequence>
            <xsd:element name="firstname" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
